<tr>
<td><%= employee.first_name %></td>
<td><%= employee.last_name %></td>
<td><%= employee.annual_salary %></td>
<td><%= employee.pension_contribution %></td>
<td><%= employee.payment_start_date %></td>
<td>
  <%= link_to 'Show Details', employee_path(employee) %> |
  <%= link_to "Edit Employee", new_employee_path, remote: true %> |
  <%= link_to "Delete Employee", employee, remote: true, method: :delete %>
</td>
</tr>
